@charset "utf-8";
/*****************************
Colours
main background: #222;
content background:#444;
footer background: #333;
borders on header and main: #666;
main text: #d4d4d4;
header text: #eee;
footer text: #999;
anchor text: gold;
anchor hover: #fff;
text shadows - #000 (bottom right) and gold (top left)

Fonts
'Helvetica Neue', Calibri, Verdana, sans-serif;

Images
http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg
******************************/
*{
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Calibri', 'Verdana', sans-serif;
    margin: 0;
}
html, body{
    font-size: 3vh;
    font-size: 1.0rem;
    background-color: #222;
}
h1{
    color: #eee;
    text-align: center;
    font-size: 7rem;
}
h3{
    color: #eee;
    font-size: 2.5rem;
    padding-top: 6rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}
p{
    padding: 1rem;
}
nav a, nav a:link, nav a:visited{
    color: gold;
    text-decoration: none;
    
}
nav a:hover, nav a:active{
    color: #fff;
}
nav ul{
    list-style-type: none;
}
nav li{
    font-size: 30px;
    float: left;
    padding-left: 8rem;
}
#wrapper{
    background-color: #444;
    width: 70%
}
#masthead{
    text-shadow: 2px 1px 1px #000, -2px -1px 1px gold;
    background: url(http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg) no-repeat 50% 25%;
    padding: 3rem;
    border-bottom: 8px solid #666;
    background-size: cover;
}
#main{
    color: #d4d4d4;
    font-size: 25px;
}
#footer{
    color: #999;
    background-color: #333;
}
#footer p{
}
#footer a{
    color: gold;
    margin: auto;
}